@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200&display=swap');

html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  user-select: none;
  overflow: hidden !important;
  font-family: 'Sarabun', sans-serif;
}

#root {
  height: 100%;
}
