@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  user-select: none;
  overflow: hidden !important;
  font-family: 'Sarabun', sans-serif;
  /*font-family: 'Yellowtail', cursive;*/
}

#root {
  height: 100%;
}

@keyframes NotifyScaleIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes NotifyScaleOut {
  0% {
    opacity: 1;
    transform: translateY(0) rotateX(0) scale(1);
  }
  50% {
    opacity: 0.1;
    transform: translateY(300px) rotateX(-15deg) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateX(-30deg) scale(0);
  }
}